# This file is a Helm values file for the alertmanager-to-github chart.
#
# To learn more about how to configure your app on your cluster
# and override the default values in here, visit:
#
#   https://docs.giantswarm.io/tutorials/fleet-management/app-platform/app-configuration/#basic-values-merging-example
#
enabled: true
image:
  registry: "gsoci.azurecr.io"
  repository: "giantswarm/alertmanager-to-github"
  tag: ""
service:
  port: 8080
pod:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    seccompProfile:
      type: RuntimeDefault
container:
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 100Mi
  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL
